<wicket:panel>

	<form wicket:id="searchForm" class="form-inline">
		<input wicket:id="cpf" class="form-control col-md-3 my-mx-5 somenteNumero" type="text" placeholder="Filtrar CPF">
		<input wicket:id="userAccess" class="form-control col-md-3 my-mx-5" type="text" placeholder="Filtrar Usuário">
		<button wicket:id="search" class="btn btn-success" type="submit"><span class="ft-fam-ubuntu-white">Filtrar&nbsp;</span><img width="20" src="./icons/svg/search_white.svg"></button>
	</form>

</wicket:panel>