<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8">
<title>AllBanks - Cadastros</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="css/estilo.css">
<link type="text/css" rel="stylesheet" href="css/cadastro.css">
<link type="text/css" rel="stylesheet" href="css/mybootstrap.css">

<link rel="shortcut icon" href="logo/predio.png" type="image/x-icon" />
</head>
<body>

	<div class="div-main">
		<div class="div-header">
			<h2 class="text-center"><img class="icon" alt="empregado" src="icons/folder.png">Cadastros</h2>
		</div>

		<div class="div-cad">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#userCad" role="tab" aria-controls="userCad" aria-selected="true"><img class="icons" alt="Usuário" src="icons/svg/user.svg"> Usuários</a>
				</li>
  				<li class="nav-item">
    				<a class="nav-link" data-toggle="tab" href="#funcCad" aria-controls="funcCad" aria-selected="false"><img class="icons" alt="Funcionário" src="icons/svg/empregado.svg"> Funcionários</a>
  				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#agCad" aria-controls="agCad" aria-selected="false"><img class="icons" alt="Agencia" src="icons/agencia.png"> Agência</a>
				</li>
			 	<li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#bancoCad" aria-controls="bancoCad" aria-selected="false"><img class="icons" alt="Banco" src="icons/svg/banco.svg"> Bancos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#contaCad" aria-controls="contaCad" aria-selected="false"><img class="icons" alt="Conta" src="icons/svg/conta.svg"> Contas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#titularCad" aria-controls="contaCad" aria-selected="false"><img class="icons" alt="Conta" src="icons/titular.png"> Titular</a>
				</li>
			</ul>

			<div class="tab-content">
			    <div wicket:id="divUser" id="userCad" class="tab-pane active"><br>
			    	
			    </div>
			    <div wicket:id="divFunc" id="funcCad" class="tab-pane fade"><br>
			    	
			    </div>
			  	<div wicket:id="divAg" id="cadMdFunc" class="tab-pane fade"><br>
			    	<table class="table table-hover table-sm br-top-none">
			    		
			    		<tbody>
			    			<tr class="tr text-center">
								<th scope="col">Código Agência</th>
								<th scope="col">Nome Banco</th>
								<th scope="col" colspan="2">Ações</th>
							</tr>
							<tr wicket:id="lvAg" class="table-bordered text-center">
								<td wicket:id="codAg"></td>
								<td wicket:id="codBanco"></td>
								<td wicket:id="nomeBanco"></td>
								<td class="td-55" style="border-right: none;"><a wicket:id="edit"><img width="20" src="./icons/svg/pen.svg"/></a></td>
								<td class="td-55" style="border-left: none;"><a  wicket:id="delete"><img width="20" src="./icons/svg/trash.svg"/></a></td>
							</tr>
			    		</tbody>
			    		
			    	</table>
			  	</div>
			  	<div wicket:id="divBc" id="agCad" class="tab-pane fade"><br>
			    	
			  	</div>
			  	<div wicket:id="divCt" id="contaCad" class="tab-pane fade"><br>
			    	
			  	</div>
			  	<div wicket:id="divTit" id="titularCad" class="tab-pane fade"><br>
			    	
			  	</div>

			  </div>
		</div>
	</div>
	
	<div wicket:id="cadMdUser"></div>
	<div wicket:id="cadMdFunc"></div>
	<div wicket:id="cadMdAg"></div>
	<div wicket:id="cadMdCt"></div>
	<div wicket:id="cadMdTit"></div>

</body>
</html>