<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8">
<title>AllBanks - Cadastros</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="css/estilo.css">
<link type="text/css" rel="stylesheet" href="css/cadastro.css">
<link type="text/css" rel="stylesheet" href="css/mybootstrap.css">

<link rel="shortcut icon" href="logo/predio.png" type="image/x-icon" />
</head>
<body>

	<div class="div-main">
		<div class="div-header">
			<h2 class="text-center"><img class="icon" alt="empregado" src="icons/folder.png">Cadastros</h2>
		</div>

		<div class="div-cad">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#userCad" role="tab" aria-controls="userCad" aria-selected="true"><img class="icons" alt="Usuário" src="icons/svg/user.svg"> Usuários</a>
				</li>
  				<li class="nav-item">
    				<a class="nav-link" data-toggle="tab" href="#funcCad" aria-controls="funcCad" aria-selected="false"><img class="icons" alt="Funcionário" src="icons/svg/empregado.svg"> Funcionários</a>
  				</li>
			 	<li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#bancoCad" aria-controls="bancoCad" aria-selected="false"><img class="icons" alt="Banco" src="icons/svg/banco.svg"> Bancos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#contaCad" aria-controls="contaCad" aria-selected="false"><img class="icons" alt="Conta" src="icons/svg/conta.svg"> Contas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#titularCad" aria-controls="contaCad" aria-selected="false"><img class="icons" alt="Conta" src="icons/titular.png"> Titular</a>
				</li>
			</ul>

			<div class="tab-content">
			    <div id="userCad" class="tab-pane active"><br>
			    	
			    </div>
			    <div id="funcCad" class="tab-pane fade"><br>
			    	<h3>Menu 1</h3>
			    	<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			    </div>
			  	<div id="bancoCad" class="tab-pane fade"><br>
			    	<h3>Menu 2</h3>
			    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
			  	</div>
			  	<div id="contaCad" class="tab-pane fade"><br>
			    	<h3>Conta</h3>
			    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
			  	</div>
			  	<div id="titularCad" class="tab-pane fade"><br>
			    	<h3>Titular</h3>
			    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
			  	</div>

			  </div>
		</div>
	</div>

</body>
</html>