<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8">
		<title>AllBanks - Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
		
		<link type="text/css" rel="stylesheet" href="css/estilo.css">
		<link type="text/css" rel="stylesheet" href="css/mybootstrap.css">
		
		<link rel="shortcut icon" href="logo/predio.png" type="image/x-icon" />
</head>
<body>
	<form>
		<input wicket:id="acesso" type="text">
		<input wicket:id="senha" type="password">
		<input wicket:id="login" type="submit" value="Login">
	</form>
</body>
</html>