<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>

	<div wicket:id="addContatoMd"></div>
	<div class="center-div-content">
	
		<div class="">
			<h2 class="text-center"><img class="icon" src="./icons/transacao.png">Transações</h2>
		</div>
		
		<div class="ml-3">
			<img class="icons-30" src="./icons/svg/saldo.svg"><span wicket:id="saldo" style="font-size: 20px;"></span>
		</div>
 	
		<div class="forms">
			<form wicket:id="formDep" class="col-md-5 col-sm-6 my-mx-5" style="margin-left: 12%;">
				<div>
					<label wicket:for="valDep" class="control-label">Valor do depósito:</label>
					<input wicket:id="valDep" class="form-control dinheiro input-right" type="text">
				</div>
				<div class="d-flex justify-content-end">
					<button wicket:id="depositar" class="btn btn-success" style="margin: 5px 0;">Depositar</button>
				</div>
			</form>
	
			<form wicket:id="formSaque" class="col-md-5 my-mx-5">
				<div>
					<label wicket:for="valSaque" class="control-label">Valor do saque:</label>
					<input wicket:id="valSaque" class="form-control dinheiro input-right" type="text">
				</div>
				<div class="d-flex justify-content-end">
					<button wicket:id="sacar" class="btn btn-success" style="margin: 5px 0;">Sacar</button>
				</div>
			</form>
	
		</div>
		<div>
			<form wicket:id="formTransf">
				
				<div class="col-md-6">
					<label wicket:for="dropContatos" class="control-label-md">Contatos para transferência</label><br>
					<select wicket:id="dropContatos" class="form-control custom-select"></select>
				</div>
				
				<div class="row my-mx-5">
					<div class="col-md-6">
						<label wicket:for="cpfCnpjBenef">CPF / CNPJ do beneficiário.</label>
						<input wicket:id="cpfCnpjBenef" type="text" class="form-control input-right">
					</div>
					<div class="col-md-6">
						<label wicket:for="agBenef">Agência do Beneficiário</label>
						<input wicket:id="agBenef" type="text" class="form-control input-right">
					</div>
				</div>
		
				<div class="row my-mx-5">
					<div class="col-md-6">
						<label wicket:for="numContaBenef" class="control-label">Nº. da Conta do Beneficiário</label>
						<input wicket:id="numContaBenef" class="form-control somenteNumero input-right">
					</div>
					<div class="col-md-6">
						<label wicket:for="valTransf" class="control-label">Valor para transferência</label>
						<input wicket:id="valTransf" class="form-control dinheiro input-right" type="text">
					</div>
				</div>
				<div class="col-md-12 d-flex justify-content-end">
					<button wicket:id="transferir" class="btn btn-success"
						style="margin: 5px 0;">Transferir</button>
				</div>
			</form>
		</div>

	</div>
	<!-- <div wicket:id="addContatoMd"></div> -->

	<script type="text/javascript" src="js/jqueryfunc.js"></script>
	<script src="js/jquery.maskMoney.js" type="text/javascript"></script>
	<script src="js/jqueryfunc.js" type="text/javascript"></script>

</wicket:extend>
</body>
</html>