<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<wicket:panel>
	
		<form wicket:id="formCadCt" class="form-horizontal">
			
			<div class="form-row my-mx-5">
				<div class=" col-md-6">
					<label wicket:for="agencia" class="control-label-md">Agência da Conta</label>
					<select wicket:id="agencia" class="form-control custom-select"></select>
				</div>
				<div class=" col-md-6">
					<label wicket:for="banco" class="control-label-md">Banco</label>
					<select wicket:id="banco" class="form-control custom-select"></select>
				</div>
				<div class=" col-md-6">
					<label wicket:for="conta" class="control-label-md">Tipo de Conta</label>
					<select wicket:id="conta" class="form-control custom-select"></select>
				</div>
				<div class=" col-md-6">
					<label wicket:for="numConta" class="control-label-md">Número da Conta</label>
					<input wicket:id="numConta" class="form-control" type="text" />
				</div>
				<div class="my-mx-5">
					<span>Status da conta</span>
					<div wicket:id="status">
						<input type="radio"/>
					</div>
				</div>
				
			</div>
			
			<div class="d-flex justify-content-end">
				<button wicket:id="salvar" type="submit" class="btn btn-success my-mx-5">Cadastrar</button>
 				<button wicket:id="btnCanc" type="submit" class="btn btn-danger my-mx-5">Cancelar</button>
			</div>
			
		</form>
		
		<div wicket:id="cadTit"></div>
	
	</wicket:panel>
</body>
</html>