<wicket:panel>
	<form wicket:id="formCadFunc" class="form-horizontal">
        <div class="my-mx-5">
            <div class="mw-head">
                <span>Cadastro de funcionário</span>
            </div>
            <div class="mw-div">
                <div class="my-mx-5">
                    <div class="form-row my-mx-5">
                        <div class="col-md-4 col-sm-12">
                            <label wicket:for="nome" class="control-label-md">Nome</label>
                            <input wicket:id="nome" class="form-control" type="text"/>
                        </div>
                        <div class="col-md-4">
                            <label wicket:for="rg" class="control-label-md">RG</label>
                            <input wicket:id="rg" class="form-control somenteNumero" type="text" maxlength="15"/>
                        </div>
                        <div class="col-md-4">
                            <label wicket:for="cpf" class="control-label-md">CPF</label>
                            <input wicket:id="cpf" class="form-control cpf" type="text" maxlength="14"/>
                        </div>
                    </div>
                    <div class="form-row my-mx-5">
                        <div class="col-md-4">
                            <label wicket:for="dtNasc" class="control-label-md">Data de Nascimento</label>
                            <input wicket:id="dtNasc" class="form-data data" type="text"/>
                        </div>
                        <div class="col-md-4">
                            <label wicket:for="celular" class="control-label-md">Celular</label>
                            <input wicket:id="celular" class="form-control celular" type="text"/>
                        </div>
                        <div class="col-md-4">
                            <label wicket:for="telefone" class="control-label-md">Telefone</label>
                            <input wicket:id="telefone" class="form-control telefone" type="text"/>
                        </div>
                    </div>
                     <div class="form-row my-mx-5">
                        <div class="col-md-4">
                            <label wicket:for="funcao" class="control-label-md">Função</label>
                            <input wicket:id="funcao" class="form-control" type="text"/>
                        </div>
                        <div class="col-md-4">
                            <label wicket:for="formacao" class="control-label-md">Formação</label>
                            <input wicket:id="formacao" class="form-control" type="text"/>
                        </div>
                        <div class="col-md-4">
                            <label wicket:for="salario" class="control-label-md">Salário</label>
                            <input wicket:id="salario" class="form-control dinheiro input-right" type="text"/>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-end">
                    <button wicket:id="salvar" type="submit" class="btn btn-success my-mx-5">Cadastrar</button>
                        <a wicket:id="btnCanc" class="btn btn-danger my-mx-5">Cancelar</a>
                </div>
            </div>
        </div>
	</form>
	
	<script type="text/javascript" src="js/jqueryfunc.js"></script>
</wicket:panel>