<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
	<div class="my-mx-5">	
		<div class="mw-red-head">
			<span wicket:id="confirma"></span>
		</div>
		<div class="mw-div mw-div-red">		
			<span wicket:id="exMsg" class="control-label-md"></span>
			<div class="d-flex justify-content-end">
				<button wicket:id="btn-confirma" type="submit" class="btn btn-success my-mx-5">Confirmar</button>
					<button wicket:id="btn-cancelar" type="submit" class="btn btn-danger my-mx-5">Cancelar</button>
			</div>
		</div>
	</div>
</wicket:panel>
</body>
</html>