
.icon-users:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */